.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
}

.imageContainer {
    margin-bottom: 30px;
}

.textContainer {
    text-align: left;
    max-width: 800px;
}




.date {
    text-align: right;
    margin-bottom: 20px;
    color: #666;
    font-size: 16px;
}


