# Node.js
node_modules

# Next.js build output
.next

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log files
*.log

# Editor and IDE files
.vscode
.idea
*.iml

# Dependency lock files
yarn.lock
package-lock.json

# Build artifacts
out
dist

# Cache and temporary files
.cache
.next-cache
.npm
yarn-error.log
yarn-debug.log*
